{% extends "base.html.twig" %}

{% block title %}AppBundle:Todo:new{% endblock %}

{% block body %}
    <h1>Welcome to the Todo:new page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path('index_todo') }}">一覧画面</a>
{% endblock %}
